body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
}



h1 {
    color: red;
    text-align: center;
    font-size:xxx-large;
    outline: 2px red solid;
}


#uploadBar{
    text-align: center;
    outline: 2px red solid;
}

#uploadBar input[type="file"],
#uploadBar button {
    font-size: x-large;
}

#display{
    font-size: xx-large;
    margin: 200px;
    display: flex;
    justify-content: center;
    outline: 2px red solid;
}

table, td, th{
    padding: 10px;
    margin: 1px;
    border: 3px solid black; 
}

label{
    font-size: xx-large;
}






/* menu ends roughly*/

 #download{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    outline: 2px red solid;
 }

#download button{
    font-size: x-large;
}

#easteregg{
    display: flex;
    justify-content: space-between;
    outline: 2px red solid;
    margin-top: 195px;
}


#eastereggText{
    color: white;
}

footer{
    font-size: 25px;
}
