body, html {
    display: flex;
    margin: 0;
    padding: 0;
}

nav{
    font-size: xx-large;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: yellow;
}

h1 {
    color: red;
    text-align: center;
    font-size:xx-large;
}

#menu{
    border-width: 30px;
    border-style: solid;
    border-color: blue;
}

#uploadBar{
    text-align: center;
}

button{
    margin: 150px;
    font-size: 75px;
}

#buttons{
    display: flex;
    flex-direction: column;
}

#display{
    font-size: xx-large;
    margin: 200px;
    display: flex;
    justify-content: center;
}

table, td, th{
    padding: 10px;
    margin: 1px;
    border: 3px solid black; 
}

label{
    font-size: xx-large;
}

form{
    font-size: xx-large;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

#easteregg{
    display: flex;
    justify-content: space-between;
}

#eastereggText{
    color: white;
}



/* menu ends roughly*/

#intake{
    margin-top: 500px;
    border-width: 30px;
    border-style: solid;
    border-color: green;
}

#expenditure{
    margin-top: 500px;
    border-width: 30px;
    border-style: solid;
    border-color: red;
}
h2{
    text-align: center;
    font-size: xx-large;
}
 #download{
    margin-top: 100px;
    display: flex;
    justify-content: center;
 }
footer{
    font-size: 25px;
    margin-top: 200px;
}
