body, html {
    /* display: flex; */
    margin: 0;
    padding: 0;
    width: 100%;
    /* justify-items: center; */
}



h1 {
    color: red;
    text-align: center;
    font-size:xx-large;
}


#uploadBar{
    text-align: center;
}


#display{
    font-size: xx-large;
    margin: 200px;
    display: flex;
    justify-content: center;
}

table, td, th{
    padding: 10px;
    margin: 1px;
    border: 3px solid black; 
}

label{
    font-size: xx-large;
}


#easteregg{
    display: flex;
    justify-content: space-between;
}

#eastereggText{
    color: white;
}



/* menu ends roughly*/

 #download{
    margin-top: 100px;
    display: flex;
    justify-content: center;
 }
footer{
    font-size: 25px;
    margin-top: 200px;
}
